# Entorno virtual
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.ipynb_checkpoints

# Base de datos (no subir datos locales)
instance/
*.db

# IDE
.vscode/
.idea/
.DS_Store